.background {
  background-image: url("./assets/sianok.jpg");
  width: 100%;
  height: 700px;
  background-position: -100px;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  background-size: cover;
}

#boxStarted {
  box-shadow: -8px -5px 5px 0px rgba(5, 0, 0, 0.75);
  -webkit-box-shadow: -8px -5px 5px 0px rgba(5, 0, 0, 0.75);
  -moz-box-shadow: -8px -5px 5px 0px rgba(5, 0, 0, 0.75);
}
#infoKontak {
  bbox-shadow: -7px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -7px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -7px 6px 5px 0px rgba(0, 0, 0, 0.75);
}
#ptik {
  box-shadow: -8px -5px 5px 0px rgba(5, 0, 0, 0.75);
  -webkit-box-shadow: -8px -5px 5px 0px rgba(5, 0, 0, 0.75);
  -moz-box-shadow: -8px -5px 5px 0px rgba(5, 0, 0, 0.75);
}
